body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(75, 189, 224);
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
}

nav {
  background-color: rgb(9,149,230);
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 5px 10px;
}

main {
  padding: 20px;
}

h2 {

  text-align: center;
  color: rgb(0, 0, 0);
  font-family:'Times New Roman', Times, serif;

}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid rgb(53, 11, 206);
    padding: 8px;
    text-align: center;
    margin-left: 34px;
    margin-right: 34px;

  }
  
  th {
    background-color: #f2f2f2;
    background-color:  rgb(9,149,230);
    text-align: center;
  }
  
  #movementTable {
 border-collapse: separate;
 padding: 20px;

  }
  
  input {
    padding: 10px;
    width: 150px;

  }
  
  button {
    padding: 6px 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; /* Ajusta la altura según tus necesidades */
  }
